includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app
        - database/factories
        - database/seeders
    level: 5
    scanFiles:
        - _ide_helper.php
        - _ide_helper_models.php
        - .phpstorm.meta.php
    excludePaths:
        - tests/*
        - storage/*
    ignoreErrors:
        - '#Call to an undefined static method#'

